.devcontainer/devcontainer.json
Day-1/PROJECT-ec2-instance-creation/terraform.tfstate
Day-1/PROJECT-ec2-instance-creation/terraform.tfstate.backup
Day-1/PROJECT-ec2-instance-creation/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/LICENSE.txt
Day-1/PROJECT-ec2-instance-creation/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/terraform-provider-aws_v5.76.0_x5
Day-3/terraform.tfstate
Day-3/.terraform.lock.hcl
Day-3/terraform.tfstate.backup
Day-3/.terraform/modules/modules.json
Day-3/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/terraform-provider-aws_v5.76.0_x5
Day-3/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/LICENSE.txt
Day-1/PROJECT-ec2-instance-creation/.terraform.lock.hcl
terraform.tfstate
Day-4/.terraform.lock.hcl
Day-4/terraform.tfstate.backup
Day-4/.terraform/providers/registry.terraform.io/hashicorp/aws/5.77.0/linux_amd64/LICENSE.txt
Day-4/.terraform/providers/registry.terraform.io/hashicorp/aws/5.77.0/linux_amd64/terraform-provider-aws_v5.77.0_x5
Day-5/.terraform.lock.hcl
Day-5/terraform.tfstate.backup
Day-5/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/LICENSE.txt
Day-5/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/terraform-provider-aws_v5.76.0_x5
Day-6/.terraform.lock.hcl
Day-6/.terraform/environment
Day-6/.terraform/modules/modules.json
Day-6/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/LICENSE.txt
Day-6/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/terraform-provider-aws_v5.76.0_x5
Day-6/terraform.tfstate.d/dev/terraform.tfstate.backup
Day-6/terraform.tfstate.d/stage/terraform.tfstate.backup
Day-7/.terraform.lock.hcl
Day-7/terraform.tfstate.backup
Day-7/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/LICENSE.txt
Day-7/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/terraform-provider-aws_v5.76.0_x5
Day-7/.terraform/providers/registry.terraform.io/hashicorp/vault/4.4.0/linux_amd64/LICENSE.txt
Day-7/.terraform/providers/registry.terraform.io/hashicorp/vault/4.4.0/linux_amd64/terraform-provider-vault_v4.4.0_x5
Day-8/.terraform.lock.hcl
Day-8/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/LICENSE.txt
Day-8/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/terraform-provider-aws_v5.76.0_x5
Project-1-Modular-Architecture/.terraform.lock.hcl
Project-1-Modular-Architecture/terraform.tfstate.backup
Project-1-Modular-Architecture/.terraform/modules/modules.json
Project-1-Modular-Architecture/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/LICENSE.txt
Project-1-Modular-Architecture/.terraform/providers/registry.terraform.io/hashicorp/aws/5.76.0/linux_amd64/terraform-provider-aws_v5.76.0_x5
Project-2-Jenkins-Nodes/.terraform.lock.hcl
Project-2-Jenkins-Nodes/terraform.tfstate.backup
Project-2-Jenkins-Nodes/.terraform/modules/modules.json
Project-2-Jenkins-Nodes/.terraform/providers/registry.terraform.io/hashicorp/aws/5.78.0/linux_amd64/LICENSE.txt
Project-2-Jenkins-Nodes/.terraform/providers/registry.terraform.io/hashicorp/aws/5.78.0/linux_amd64/terraform-provider-aws_v5.78.0_x5
zump/.terraform.lock.hcl
zump/devops.txt
zump/terraform.tfstate.backup
zump/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.2/linux_amd64/LICENSE.txt
zump/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.2/linux_amd64/terraform-provider-local_v2.5.2_x5
